html{
    height: 100%;
    background: linear-gradient(180deg, #0B1D34 0%, rgba(11, 29, 52, 0.49) 100%), url(assets/img/digital-art/9.jpg);
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}

svg, path{
    z-index: 3;
}

#menu-background{
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 30vw;
    background: linear-gradient(90deg, #0C1520 0%, rgba(12, 21, 32, 0.5625) 84.9%, rgba(12, 21, 32, 0) 100%);
}

#layout-menu-side{
    flex: 1;
    height: 92vh;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#layout-menu-upper{
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 49px;
}

#line-h{
    z-index: 3;
    margin-top: 0.4px;
    flex: 1;
    height: auto;
    width: auto;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #E6AC19;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #E6AC19;
}

#line-v{
    z-index: 3;
    margin-left: 0.4px;
    flex: 1;
    height: auto;
    width: 80.6px;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: #E6AC19;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #E6AC19;
}

.side-bar-assets{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

}

#side-bar-space{
    height: auto;
    width: auto;
    flex: 1;
}

#side-bar-top{
    display: flex;
    height: 49px;
}

#side-bar-bot{
    display: flex;
    height: 92vh;
}

#layout-side-bar{
    flex: 1;
    position: absolute;
    width: 0vw;
    left: 92px;
    top: 10px;
    display: flex;
    flex-direction: column;
    transition: width .5s ease-in-out;
}
#layout-side-bar:hover{
    transition: width .5s ease-in-out;
    width: 20vw;
}

#side-bar-asset-space1{
    z-index: 3;
    flex: 1;
    height: auto;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #E6AC19;
}

#side-bar-asset-space2{
    z-index: 3;
    flex: 1;
    height: auto;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #E6AC19;
}


