@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

:root{
    --neonblue: #4791EB;
    --neonblue-50: rgba(71, 145, 235, 0.5);
    --orange-glow-fix: hsla(226, 80%, 50%, 0.5);
    --blue-glow-fix: hsl(77, 100%, 50%, 0.5);

    --blue-900-90: rgba(12, 21, 32, 90%);
    --blue-900: rgb(12, 21, 32);
    --blue-800: rgb(11, 29, 52);
    --blue-800-90: rgba(11, 29, 52, 90%);
    --blue-800-80: rgba(11, 29, 52, 80%);
    --blue-800-75: rgba(11, 29, 52, 75%);
    --blue-800-50: rgba(11, 29, 52, 50%);
    --blue-800-10: rgba(11, 29, 52, 10%);
    --blue-700: rgb(16, 39, 66);
    --blue-600: rgb(28, 49, 75);
    --blue-500: rgb(35, 64, 100);
    --blue-400: rgb(69, 116, 162);
    --blue-300: rgb(104, 133, 168);
    --blue-200: rgb(169, 185, 194);
    --blue-100: rgb(206, 218, 225);

    --orange-900: rgb(44, 19, 12);
    --orange-900-50: rgba(44, 19, 12, 50%);
    --orange-800: rgb(95, 47, 3);
    --orange-800-75: rgba(95, 47, 3, 75%);
    --orange-700: rgb(157, 83, 36);
    --orange-700-75: rgba(157, 83, 36, 75%);
    --orange-700-50: rgba(157, 83, 36, 50%);
    --orange-600: rgb(197, 138, 43);
    --orange-500: rgb(230, 172, 25);
    --orange-500-75: rgb(230, 172, 25, 75%);
    --orange-500-50: rgb(230, 172, 25, 50%);
    --orange-400: rgb(251, 213, 118);
    --orange-300: rgb(251, 228, 145);
    --orange-200: rgb(255, 248, 214);
    --orange-100: rgb(255, 254, 240);

    --white-900: rgb(29, 16, 9);
    --white-800: rgb(58, 49, 44);
    --white-700: rgb(87, 73, 67);
    --white-600: rgb(110, 102, 94);
    --white-500: rgb(140, 131, 121);
    --white-400: rgb(161, 156, 145);
    --white-300: rgb(185, 181, 172);
    --white-200: rgb(208, 206, 200);
    --white-100: rgb(231, 231, 228);
}


@media (min-width: 768px) {
    :root{
        --title-size: 8vw;
        --title-project-size: 4rem;
        --small-button-text: 35px;
    }
}

@media (max-width: 768px) {
    :root{
        --title-size: 16vw;
        --title-project-size: 3rem;
        --small-button-text: 20px;
    }
}


html{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image:
            repeating-linear-gradient(200deg, var(--blue-800-10), var(--blue-800-10) 10px, transparent 10px, transparent 20px)
    ,            url("assets/img/element/background.svg");
    background-attachment: fixed;

}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#label-up{
    z-index: 6;
    pointer-events: none;
    position: absolute;
    width: 10rem;
    aspect-ratio: 16/4;
    display: flex;
}

#label-up-line{
    top: 8px;
    position: absolute;
    width:100%;
}

#label-up-text{
    position: absolute;
    top: 0px;
    right: 20px;
    align-self: flex-end;
    width: 100%;
    text-align: end;
}

#label-left{
    z-index: 6;
    pointer-events: none;
    position: absolute;
    width: 10rem;
    aspect-ratio: 16/4;
    display: flex;
    transform: scale(-100%,100%) translate(-160px, 140px);
}

#label-left-line{
    top: 8px;
    position: absolute;
    width:100%;
}

#label-left-text{
    position: absolute;
    top: 0px;
    right: 20px;
    align-self: flex-end;
    width: 100%;
    text-align: end;
    transform: scale(-100%,100%) translate(-80px, 25px);
}

#label{
    z-index: 6;
    pointer-events: none;
    position: fixed;
    width: 10rem;
    aspect-ratio: 16/4;
    display: flex;
}

#label-line{
    top: 0px;
    position: absolute;
    width:100%;
}

#label-text{
    position: absolute;
    bottom: 0px;
    align-self: flex-end;
    width: 100%;
    text-align: center;
}

#layout-menu{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    pointer-events: none;
}

@media (max-width: 768px) {
    #layout-menu-side-content {
        display: none;
        height: 0vh;
        opacity: 0;
    }

    #content{
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    #layout-menu-side-content {
        display: inherit;
        height: 90vh;
        opacity: 1;
    }

    #content{
        padding-left: 95px;
    }
}

#layout-menu-upper{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
}

#content{
    padding-top: 10px;
}

#content-main{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .with-padding{
        padding-left: 0.5rem;
    }

    .content-box{
        min-width: 330px;
        width: 20rem;
    }

    #time-line-indicator-text {
        font-size: 16px;
        height: 16px;
    }

    #about-me-content{
        width: 380px;
    }
}

@media (min-width: 768px) {
    .with-padding{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .content-box{
        min-width: 330px;
        width: 25rem;
    }

    #time-line-indicator-text {
        font-size: 30px;
        height: 30px;
    }

    #about-me-content{
        width: clamp(300px,100%,1000px);
    }
}

.with-padding{
    position: relative;
    padding-bottom: 2rem;
    justify-content: flex-start !important;
}

.content-box{
    z-index: 4;
    margin: 2.5% 0 0 2.5%;
    aspect-ratio: .95;
    position: relative;
}

.content-box-visual{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--orange-500-75) -0.12%, var(--orange-800-75) 62.67%);
    --aug-border: initial;
    --aug-border-all: 3px;
    --aug-border-bg: linear-gradient(0deg, var(--orange-500) -21.61%, var(--orange-800) 100.12%);
    --aug-round-bl2: initial;
    --aug-clip-bl1: initial;
    --aug-br: 33px;
    --aug-tr: 33px;
    --aug-tl: 33px;
    --aug-r: 13px;
    --aug-r-center: 170px;
    --aug-r-extend1: 150px;
    --aug-bl1: 10px;
    --aug-bl-extend1: 50%;
    --aug-bl2: 33px;
}

.aug-blue-shadow{
    height: 100%;
    width: 100%;
    filter:
            drop-shadow(0 0 5px var(--blue-800))
            drop-shadow(0 0 5px var(--blue-800))
            drop-shadow(0 0 5px var(--blue-800)) ;
}

.aug-blueneon-shadow-const{
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 10px var(--blue-500));
    transition: all 0.5s ease-in-out;
}

.aug-blueneon-shadow{
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 0px var(--blue-500));
    transition: all 0.5s ease-in-out;
}

.aug-blueneon-shadow:hover{
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 10px var(--blue-500));
    transition: all 0.5s ease-in-out;
}

#about-me-content{
    margin-top: 3rem;
    height: auto;
}

#about-me-content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    font-size: var(--title-size);
}

#about-me-footer{
    margin-bottom: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#about-me-footer-socials{
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.blue-400-text{
    color: var(--blue-400);
    font-size: clamp(.7rem,3vw,1.2rem);

}

hil{
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: var(--orange-500);
}

hli{
    color: var(--orange-500);
}

dli{
    color: var(--blue-500);
}

.quote-text{
    color: var(--orange-500);
    font-size: clamp(1rem,3vw,1.5rem);
}

#about-me-content-text{
    margin-top: 1rem;
    width: 80%;
}

#about-me-footer-buttons{
    width: clamp(6rem, 10vw, 10rem);

    height: var(--small-button-text);
}

.dark-blue-text{
    margin-left: 0.5rem;
    font-size: var(--small-button-text);
    color: var(--blue-800);
}

#about-me-footer-underbar{
    position: absolute;
    right: clamp(-6rem, -10vw, -10rem);
    top: calc(clamp(20px,4vw,30px) / 2);
    height: 31px;
}

#about-me-footer-button-resume{
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
}

#about-me-footer-button-resume:hover{
    filter: drop-shadow(0 0 10px var(--orange-600));
    transition: all 0.5s ease-in-out;
}

.orange-button-2{
    width: 100%;
    height: 100%;

    background: linear-gradient(88.12deg, var(--orange-800) -128.3%, var(--orange-600) 174.27%);

    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(267.46deg, var(--orange-500) -2.23%, var(--orange-600) 132.13%);

    --aug-bl: 10px;
    --aug-tr: 15px;
    --aug-br: 10px;
    --aug-tl: 10px;
    --aug-t: 5px;

    --aug-t-center: 35%;
    --aug-t-extend1: 40%;
}

.orange-button{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background: linear-gradient(88.12deg, var(--orange-800) -128.3%, var(--orange-600) 174.27%);

    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(267.46deg, var(--orange-500) -2.23%, var(--orange-600) 132.13%);

    --aug-tr1: 3px;
    --aug-tr-inset2: 20px;
    --aug-tr2: 7px;

    --aug-bl: 7px;
    --aug-br: 7px;
    --aug-tl: 7px;

}

#about-me-content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(192.94% 402.4% at 0% 0%, var(--blue-900) 0%, var(--blue-700) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(180deg, var(--blue-500) 0%, var(--neonblue) 100%);

    --aug-round-bl2: initial;
    --aug-clip-bl1: initial;
    --aug-bl1: 25px;
    --aug-bl-extend1: 15%;
    --aug-bl2: 25px;

    --aug-br: 25px;
    --aug-tr: 10px;
    --aug-tl: 25px;
    --aug-r: 10px;

    --aug-r-center: 40%;
    --aug-r-extend1: 40%;
}

#about-me-content-box-aug-neon-gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--neonblue);
    filter: drop-shadow(0 0 10px var(--neonblue));
}

.content-box-content-border{
    position: absolute;
    height: 100%;
    width: 100%;

    --aug-border: initial;
    --aug-border-all: 3px;
    --aug-border-bg: linear-gradient(180deg, var(--blue-800) -20.74%, var(--neonblue) 100.12%);
    --aug-round-bl2: initial;
    --aug-clip-bl1: initial;
    --aug-br: 33px;
    --aug-tr: 33px;
    --aug-tl: 33px;
    --aug-r: 13px;
    --aug-r-center: 170px;
    --aug-r-extend1: 150px;
    --aug-bl1: 10px;
    --aug-bl-extend1: 50%;
    --aug-bl2: 33px;
}

.content-box-content-loading{
    top: 0px;
    z-index: 6;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, var(--blue-500) -66.63%, var(--blue-700) 62.93%);
    --aug-border: initial;
    --aug-border-all: 3px;
    --aug-border-bg: linear-gradient(180deg, var(--blue-800) -20.74%, var(--blue-400) 100.12%);

    --aug-br: 33px;
    --aug-tr: 33px;
    --aug-tl: 33px;
    --aug-r: 13px;
    --aug-r-center: 170px;
    --aug-r-extend1: 150px;

    --aug-round-bl2: initial;
    --aug-clip-bl1: initial;
    --aug-bl1: 10px;
    --aug-bl-extend1: 50%;
    --aug-bl2: 33px;

    overflow: hidden;
}

.content-box-content-loading img {
    position: absolute;
    top: 12px;
    right: 15px;
    filter: drop-shadow(0 0 5px var(--neonblue));
}

.content-box-content{
    top: 0px;
    z-index: 1;
    position: absolute;
    height: 85%;
    width: 100%;
    background: linear-gradient(180deg, var(--blue-500) -66.63%, var(--blue-700) 62.93%);
    --aug-border: initial;
    --aug-border-all: 3px;

    --aug-br: 33px;
    --aug-tr: 33px;
    --aug-tl: 33px;
    --aug-r: 13px;
    --aug-r-center: 170px;
    --aug-r-extend1: 150px;

    --aug-round-bl2: initial;
    --aug-clip-bl1: initial;
    --aug-bl1: 10px;
    --aug-bl-extend1: 50%;
    --aug-bl2: 33px;

    display: flex;
    justify-content: center;
    overflow: hidden;
}

.content-box-content-neon-on{
    --aug-border-bg: linear-gradient(180deg, var(--blue-800) -20.74%, var(--neonblue) 100.12%);
    transition: all 0.2s ease-in;
}

.content-box-content-neon-off{
    transition: all 0.2s ease-in;
    --aug-border-bg: linear-gradient(180deg, var(--blue-800) -20.74%, var(--blue-400) 100.12%);
}

.content-box-content img {
    height: 25rem;
    object-fit: cover;
}

.content-box-title{
    position: absolute;
    bottom: 5px;
    height: 15%;
    width: 100%;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 62px;
    text-align: center;
    color: var(--blue-800);

    text-shadow: 0px 0px 10px var(--orange-500);
}

#main-title{
    font-size: 35px;
    color: var(--orange-600);
}

.content-box-content-details{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu-icons-text{
    margin-left: 5%;
    text-align: left;
}

.iceland-text{
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
}

.roboto-text {
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.rajdhani-text{
    font-family: 'Rajdhani', sans-serif;
}

.roboto-text-f{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
}

.text-orange-glow{
    color: var(--orange-500);
    text-shadow: 0px 0px 10px var(--orange-500);
}

.content-box-content-details-title{
    font-size: 25px;
    text-align: left;
    color: var(--orange-500);
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.about-me-content{
    width: 100%;
    height: 100%;
}

.content-box-content-details-description{
    font-size: 20px;
    text-align: justify;
    color: var(--orange-400);
    padding-left: 5%;
    padding-right: 8%;
}

.content-box-content-details-icons{
    padding-bottom: 6%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 6%;
}

.icons-up{
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in;
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
    opacity: 0.5;
}

.icons-up:hover{
    transition: all 0.3s ease-in;
    opacity: 1;
    filter: drop-shadow(0 0 7px var(--orange-glow-fix)) invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.icons{
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in;
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
    opacity: 0.5;
}

.icons:hover{
    transition: all 0.3s ease-in;
    opacity: 1;
    filter: drop-shadow(0 0 7px var(--orange-glow-fix)) invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.content-box-content-details-readme{
    cursor: pointer;
    font-size: 20px;
    color: var(--neonblue);
    text-shadow: 0px 0px 10px var(--neonblue);
    padding-right: 8%;
    padding-bottom: 3%;
    align-self: flex-end;
    transition: all 0.3s ease-in;
}

a{
    color: inherit;
    text-decoration: inherit;
}

loader-layout-menu{
    position: absolute;
    top: 0px;
    left: 0px;
}

.content-box-content-details-readme:hover{
    transition: all 0.3s ease-in;
    color: var(--orange-600);
    text-shadow: 0px 0px 10px var(--orange-500);
}

.content-box-content-details-footer{
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.hide-quick{
    transition: all 0.3s ease-in;
    opacity: 0;
    font-size: 0px;
    pointer-events: none;
}

.show-quick{
    transition: all 0.5s ease-in;
    opacity: 1;
    font-size: 30px;
}


.hide-filter{
    transition: opacity 0.2s ease-in;
    opacity: 0;
    pointer-events: none;
}

.show-filter{
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.hide{
    transition: opacity 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
}

.show{
    transition: opacity 0.5s ease-in;
    opacity: 1;
}

.hide-instant{
    opacity: 0;
    pointer-events: none;
}

.show-instant{
    opacity: 1;
}

.content-extend{
    transition: all 0.2s ease-in;
    height: 100%;
}

.content-retracted {
    transition: all 0.2s ease-in;
    height: 85%;
}

.dark-tint-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--blue-800-50);
}

.darker-tint-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--blue-800-75);
}

.layout-menu-icon{
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
    width: 25px;
}

#menu-button{
    z-index: 5;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--blue-800-90);

    width: 50px;
    height: 35px;

    --aug-border: initial;
    --aug-border-all: 1px;
    --aug-border-bg: var(--orange-500);
}
#menu-header{
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100vw - 75px);
    height: 35px;

    background: var(--blue-800-90);

    --aug-border: initial;
    --aug-border-all: 1px;
    --aug-border-bg: #E6AC19;
    --aug-border-left: 0px;
    --aug-br: 15px;
}
#layout-menu-side{
    z-index: 3;

    pointer-events: all;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50px;
    height: 100%;

    background: var(--blue-800-90);

    --aug-border: initial;
    --aug-border-all: 1px;
    --aug-border-bg: var(--orange-500);
    --aug-border-top: 0px;
    --aug-bl: 25px;
}

.content-box-grow{
    flex-grow: 2;
}

#content-title{
    height: 170px;
    margin-top: 35px;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

#content-title-title{
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: clamp(4em, 10vw ,10vw);
}

.title-glow-orange{
    background: linear-gradient(90deg, var(--orange-500) -1.59%, var(--orange-700-75) 106.39%);
}

.main-title-glow-orange{
    background: linear-gradient(90deg, var(--orange-500) 0.43%, var(--orange-800) 105.26%);
    color: var(--orange-900);
}

.sub-title-glow-orange{
    color: var(--orange-500);
    filter: drop-shadow(0 0 10px var(--orange-500));
    transition: color .5s ,filter .5s ease-in-out;
}

.title-glow-blue{
    background: linear-gradient(90deg, var(--blue-400) 0.43%, var(--blue-500) 105.26%);

}

.main-title-glow-blue{
    background: linear-gradient(90deg, var(--blue-400) -1.59%, var(--blue-800) 106.39%);
    color: var(--blue-800);
}

.sub-title-glow-blue{
    color: var(--blue-400);
    filter:;
    transition: color .5s ,filter .5s ease-in-out;
}

.content-title-main-glow{
    z-index: 1;
    position: absolute;
    bottom: 30px;
    right: 40px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    text-align: right;
    filter: blur(12.5px);
    opacity: 0.5;
}

.about-me-title{
    position: relative;
    text-align: center;

    color: var(--orange-900);

    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;

}

.about-me-title-glow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    text-align: center;
    color: transparent;

    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;

    filter: blur(12.5px);
    opacity: 0.5;
}

.content-title-main{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 40px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    text-align: right;
}

#content-title-sub{
    position: absolute;
    bottom: 10px;
    right: 45px;
    text-align: right;
    font-size: clamp(1rem,2vw,2vw)
}

#content-title-bar{
    position: absolute;
    right: -40px;
    bottom: -10px;
    display: flex;
    width: 1085px;
}

#layout-menu-side-content{
    position: absolute;
    top: 35px;
    transition: all ease-in-out 0.5s;
}

#layout-menu-side-items{
    z-index: 5;
    position: absolute;
    top: 0px;
    height: 100%;
}

.menu-icons-content{
    height: clamp(0px, 100%, 35px) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menu-icons-content img{
    width: auto;
    height: clamp(0px, 100%, 35px) !important;
    aspect-ratio: 1;
    object-fit: fill;
}

.resume-button-text{
    margin-top: auto;
    margin-bottom: auto;
    color: var(--blue-400);
    margin-left: 10%;
    font-size: 26px;
    transition: all 0.5s ease-in-out;
}

.resume-button-text:hover{
    color: var(--neonblue);
    text-shadow: 0 0 5px var(--neonblue);
    transition: all 0.5s ease-in-out;
}

.resume-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg,var(--blue-900) -97.89%,var(--blue-600) 132.95%);

    --aug-border: initial;
    --aug-border-all: 2px;

    --aug-round-tr2: initial;
    --aug-clip-tr1: initial;

    --aug-tr1: 10px;
    --aug-tr-extend1: 20%;
    --aug-tr2: 6px;

    --aug-border-bg: linear-gradient(270deg, var(--neonblue) -2.05%, var(--blue-500) 97.48%);

    --aug-br: 10px;
    --aug-bl: 10px;
    --aug-tl: 10px;
}

#menu-resume-button{
    pointer-events: all;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: calc(92% - 80px);
    height: 5%;
}

#menu-social-icons{
    position: absolute;
    bottom: calc(5% + 20px);
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.menu-social-orange{
    margin-left: 5px;
    height: clamp(30px,5vw,40px);
    width: clamp(30px,5vw,40px);
    display: flex;
    align-items: center;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
    opacity: 0.25;
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.menu-social-orange:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--orange-glow-fix))invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.menu-social-orange img{
    height: clamp(20px,100%,40px);
}

.menu-social{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
    opacity: 0.25;
    filter: invert(52%) sepia(39%) saturate(1456%) hue-rotate(188deg) brightness(94%) contrast(96%);
}

.menu-social:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--blue-glow-fix)) invert(52%) sepia(39%) saturate(1456%) hue-rotate(188deg) brightness(94%) contrast(96%);
}

.menu-social img{
    width: 50px;
    height: 50px;
}

.menu-sub-item{
    overflow: hidden;
    pointer-events: all;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 30px;
    opacity: 0.5;
}

.menu-sub-item:hover{
    transition: all 0.3s ease-in;
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--orange-500));
}

.menu-sub-item-icon{
    margin-left: 10%;
    align-self: start;
}

.menu-sub-item-text{
    margin-left: 3%;
    font-size: 25px;
    color: var(--orange-500);
}

#sub-menu-items{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


#sub-menu-items-content{
    margin-left: 80px;
}

.menu-icons{
    pointer-events: all;
    margin-top: 1rem;
    margin-left: 7.5px;
    opacity: 0.5;
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
    transition: all 0.5s ease-in-out;
    height: clamp(0px, 10%, 35px) !important;
}

.menu-icons:hover{
    transition: all 0.3s ease-in;
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--orange-glow-fix)) invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.active{
    transition: all 0.3s ease-in;
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--orange-glow-fix)) invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.active-sub{
    transition: all 0.3s ease-in;
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--orange-500));
}


#layout-menu-side-bar{
    z-index: 3;

    pointer-events: all;

    position: absolute;
    height: calc(100% + 35px);
    top: -35px;
    left: 50px;

    --aug-border: initial;
    --aug-border-all: 1px;
    --aug-border-bg: var(--orange-500);
    --aug-border-left: 0px;
    --aug-tr:35px;
    --aug-r: 10px;
    --aug-r-center: 30%;
    --aug-r-extend1: 20vh;

}

.layout-menu-side-items-close{
    transition: width 0.5s ease-in-out;
    width: calc(50px + 5vh);
}

.layout-menu-side-items-open{
    transition: width 0.5s ease-in-out;
    width: calc(50px + 25vh);
}

.layout-menu-side-bar-close{
    transition: width 0.5s ease-in-out;
    width: 35px;
}

.layout-menu-side-bar-open{
    transition: width 0.5s ease-in-out;
    width: 25vh;
}

#layout-menu-background-left{
    position: absolute;
    top: 0px;

    width: 80px;
    height: 95vh;

    --aug-bl: 50px;
}

#layout-menu-background-right{
    position: absolute;
    height: calc(100% + 35px);
    top: -35px;
    left: 50px;

    background: var(--blue-800-90);

    --aug-tr:35px;
    --aug-r: 10px;
    --aug-r-center: 30%;
    --aug-r-extend1: 20vh;
}

.layout-menu-background-right-close{
    transition: all 0.5s ease-in-out;
    width: 35px;
}

.layout-menu-background-right-open{
    transition: all 0.5s ease-in-out;
    width: 25vh;
}

@media (max-width: 768px) {
    #content-title-bar {
        display: none;
    }

    #about-me-footer-underbar {
        display: none;
    }

    .best-proj-main-bar{
        display: none;
    }
}

#best-proj-content{
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#best-proj-content-main{
    align-self: center;
    filter: drop-shadow(0 0 10px var(--neonblue-50));
}

.best-proj-main-title{
    margin-top: 1rem;
    position: relative;
}

.best-proj-main-bar{
    position: absolute;
    top: 33px;
    width: 652px;
}

.best-proj-main-title-text{
    font-size: var(--title-project-size);
    color: var(--orange-600);
    padding-left: 5%;
}

#best-proj-content-main-box img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#best-proj-content-main-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    background:linear-gradient(180deg, var(--blue-500) -67.83%, var(--blue-700) 62.67%);
    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg:  linear-gradient(180deg, var(--blue-500) 0%, var(--neonblue) 100.12%);

    --aug-bl: 15px;
    --aug-br: 15px;
    --aug-tl: 15px;
    --aug-l: 5px;

    --aug-l-center: 60%;
    --aug-l-extend1: 30%;

    --aug-round-tr2: initial;
    --aug-clip-tr1: initial;
    --aug-tr1: 15px;
    --aug-tr-extend1: 20%;
    --aug-tr2: 15px;
}



#best-proj-content-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.best-proj-content-sub-box-img {
    transform: scale(1.5);
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.best-proj-content-sub-box-img-open{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.best-proj-content-title{
    align-self: flex-end;
    color: var(--blue-800);
    filter: drop-shadow(0 0 5px var(--orange-500));
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.best-proj-sub-open{
    height: 100% !important;
    transition: height 0.5s ease-in-out;
}

.best-proj-content-sub-box {
    transition: height 0.5s ease-in-out;

    top: 0px;
    z-index: 1;
    position: absolute;
    height: 80%;
    width: 100%;


    --aug-border: initial;
    --aug-border-all: 3px;
    --aug-border-bg:  linear-gradient(180deg, var(--blue-800) 0%, var(--blue-500) 100.12%);

    --aug-bl: 20px;
    --aug-br: 50px;
    --aug-tl: 20px;

    --aug-l: 13px;
    --aug-l-center: 140px;
    --aug-l-extend1: 125px;

    --aug-round-tl1: initial;
    --aug-clip-tl2: initial;
    --aug-tl1: 20px;
    --aug-tl-extend2: 20%;
    --aug-tl2: 10px;

    display: flex;
    justify-content: center;
    overflow: hidden;
}



.best-proj-content-sub{
    cursor: pointer;
    display: flex;
    margin-top: 1rem;

    background: linear-gradient(0deg, var(--orange-500-75) -0.12%, var(--orange-800-75) 62.67%);

    --aug-border: initial;
    --aug-border-all: 3px;
    --aug-border-bg: linear-gradient(0deg, var(--orange-500) -21.61%, var(--orange-800) 100.12%);

    --aug-bl: 20px;
    --aug-br: 50px;
    --aug-tl: 20px;

    --aug-l: 13px;
    --aug-l-center: 140px;
    --aug-l-extend1: 125px;

    --aug-round-tl1: initial;
    --aug-clip-tl2: initial;
    --aug-tl1: 20px;
    --aug-tl-extend2: 20%;
    --aug-tl2: 10px;
}

#best-proj-main-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    pointer-events: none;
}

#best-proj-main-details-buttons {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    pointer-events: auto;
}

.best-proj-main-details-button-text{
    margin-left: 15%;
    margin-top: .65rem;
    color: var(--blue-800);
    font-size: 1.5rem;
}

#best-proj-main-details-buttons-details{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

#best-proj-main-details-button-read{
    padding-top: 1rem;
    display: flex;
    width: 200px;
    height: 2.5rem;
    margin-left: 2rem;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
    align-self: flex-end;
}

#best-proj-main-details-button-read:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--orange-600));
    transition: all 0.5s ease-in-out;
}


#best-proj-main-details-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#best-proj-main-details-text-title{
    font-size: 2rem;
    color: var(--orange-600);
}

#best-proj-main-details-text-text{
    color: var(--blue-400);
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    #best-proj-carousel {
        width: 300px;
        height: 220px;
    }

    #best-proj-content-main {
        width: 380px;
        height: 630px;
    }

    .carousel-container .arrow.next {
        left: -25px;
    }
    .carousel-container .arrow.back {
        right: -25px;
    }

    .best-proj-content-sub{
        width: 380px;
        height: 253px;
    }
}

@media (min-width: 768px) {
    .best-proj-content-sub{
        height: 50%;
        min-height: 310px;
        max-height: 380px;

        width: 100%;
        min-width: 450px;
        max-width: 570px;
    }

    #best-proj-carousel {
        width: 800px;
        height: 470px;
    }

    #best-proj-content-main {
        width: 1100px;
        height: 680px;
    }

    .carousel-container .arrow.next {
        left: -60px;
    }
    .carousel-container .arrow.back {
        right: -60px;
    }
}

#best-proj-carousel{
    margin-top: 1rem;
    align-self: center;

    filter: drop-shadow(0 0 10px var(--blue-900));
}

.carousel-img-box{
    width: 100%;
    height: 100%;

    overflow: hidden;
    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: var(--blue-800);

    --aug-tl: 50px;
    --aug-bl: 25px;
    --aug-tr: 25px;
    --aug-b: 8px;

    --aug-b-center: 40%;
    --aug-b-extend1: 50%;

    --aug-round-br2: initial;
    --aug-clip-br1: initial;
    --aug-br1: 8px;
    --aug-br1: 8px;
    --aug-br-extend1: 35%;
    --aug-br2: 25px;
}

.carousel-img{
    overflow: hidden;
    object-fit: cover;
    height: 100%;
}

.carousel-img-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    position: relative;
}

.carousel-container {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.arrow object{
    cursor: pointer;
}

.carousel-container .arrow {
    overflow: visible;

    cursor: pointer;
    opacity: 0.5;
    aspect-ratio: 40/75;
    height: 15%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s ease-in-out;
    filter:         drop-shadow( 1px  0px 0px var(--blue-900))
                    drop-shadow(-1px  0px 0px var(--blue-900))
                    drop-shadow( 0px  1px 0px var(--blue-900))
                    drop-shadow( 0px -1px 0px var(--blue-900));

}


.arrow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container .arrow:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--orange-500));
    transition: all 0.2s ease-in-out;
}
.carousel-container li:nth-child(1) > .dot {
    margin-right:  15px;
}
.carousel-container .carousel-content {
    height: 0;
    line-height: 22px;
    background: transparent;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
}
.carousel-container .carousel-content img {
    opacity: 0;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    transition: 0.2s ease-in;
}
.carousel-container .dot {
    float: right;
    cursor: pointer;
    opacity: 1;
    width: 10px;
    height: 10px;
    background: var(--orange-500-50);
    filter:
    drop-shadow( 1px  0px 0px var(--blue-900))
    drop-shadow(-1px  0px 0px var(--blue-900))
    drop-shadow( 0px  1px 0px var(--blue-900))
    drop-shadow( 0px -1px 0px var(--blue-900));
    position: relative;
    margin-top: 12px;
    z-index: 999;
    margin-right: 12px;
    transform: rotate(45deg);
}

.carousel-container .dot:hover {
    background: var(--orange-500);
    filter: drop-shadow(0 0 5px var(--orange-500));
}
.carousel-container .carousel-toggle {
    display: none;
}
.carousel-container .carousel-toggle:checked + .dot, .carousel-container .carousel-toggle.active + .dot {
    background: var(--orange-500);
    filter: drop-shadow(0 0 5px var(--orange-500));
}
.carousel-container .carousel-toggle:checked ~ .carousel-content, .carousel-container .carousel-toggle.active ~ .carousel-content {
    height: 100%;
    width: 100%;
}
.carousel-container .carousel-toggle:checked ~ .carousel-content img, .carousel-container .carousel-toggle.active ~ .carousel-content img {
    opacity: 1;
}

#content-article{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    #content-article-container {
        width: 380px;
    }

    .content-article-button-selector {
        transform: translate(0px, 20px);
        height: 3rem;
    }

    .content-article-button-selector:hover{
        transform: translate(0px, 10px);
    }

    .article-button-selected{
        transform: translate(0px, 10px) !important;
    }

    .content-article-button-text{
        font-size: 1.5rem;
        margin-top: .1rem;
    }

    .content-article-button-text-selected {
        margin-top: 0.3rem !important;
    }

    .content-article-button-underbars{
        background-image: url("assets/img/element/selector-mobile.svg");
        height: 200%;
    }

    .content-article-button-underbars-dashed {
        background-image: url("assets/img/element/selector-dashed-mobile.svg");
        height: 200%;
    }
}

@media (min-width: 768px) {
    .content-article-button-text-selected {
        margin-top: 1rem !important;
    }

    #content-article-container {
        width: 95%;

        margin-left: 3rem;
        padding-right: 2rem;
    }

    .content-article-button-selector {
        transform: translate(2px, 50px);
        height: 6rem;
    }

    .content-article-button-selector:hover{
        transform: translate(2px, 35px);
    }

    .article-button-selected{
        transform: translate(2px, 35px) !important;
    }

    .content-article-button-text{
        font-size: 2rem;
        margin-top: .4rem;
    }

    .content-article-button-underbars{
        background-image: url("assets/img/element/selector.svg");
        height: 100%;
    }

    .content-article-button-underbars-dashed {
        background-image: url("assets/img/element/selector-dashed.svg");
        height: 100%;
    }
}

#content-article-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-self: center;
}

#content-article-box-glow {
    width: 100%;
    filter: drop-shadow(0 0 10px var(--neonblue-50));
}

#content-article-box{
    position: relative;
    width: 100%;
    height: 0;

    background: radial-gradient(192.94% 402.4% at 0% 0%, var(--blue-900) 0%, var(--blue-700) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(180deg, var(--blue-500) 0%, var(--neonblue) 100%);

    --aug-round-bl2: initial;
    --aug-clip-bl1: initial;
    --aug-bl1: 15px;
    --aug-bl-extend1: 15%;
    --aug-bl2: 15px;

    --aug-br: 15px;
    --aug-tr: 25px;
    --aug-tl: 15px;
    --aug-r: 5px;

    --aug-r-center: 40%;
    --aug-r-extend1: 40%;
}

#content-article-buttons{
    height: 6.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.content-article-button-selector{
    aspect-ratio: 7/3;
    margin-right: 1rem;
    transition: all .5s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-article-button-selector:hover{
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
    filter: drop-shadow(0 0 10px var(--orange-600));
}

.article-button-selected{
    filter: drop-shadow(0 0 5px var(--orange-500-50));
}

.content-article-button-text{
    color: var(--orange-600);
    transition: all 0.5s ease-in-out;
}

.content-article-button-text-selected{
    color: var(--orange-500) !important;
    transition: all 0.5s ease-in-out;
}

.content-article-button-underbars{
    stroke-width: 5px;
    position: absolute;
    width: 100%;
    top: 0px;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

.content-article-button-underbars-dashed{
    stroke-width: 5px;
    position: absolute;
    width: 100%;
    top: 0px;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

.active-panel{
    opacity: 1;
    pointer-events: inherit;
    display: inherit;
}

.active-panel-slow{
    opacity: 1 !important;
    pointer-events: auto;
    display: inherit;
    transition: opacity 0.5s ease-in-out;
}

.hide-panel{
    opacity: 0;
    pointer-events: none;
    display: none;
}

.content-article-box-section{
    position: fixed;
    z-index: 5;
    width: 100%;
}

#content-article-box-main{

}

#content-article-box-gallery{

}

#content-article-box-more{

}

.content-article-main-title{
    z-index: 2;
    position: absolute;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
}

.content-article-main-title-glow{
    z-index: 1;
    position: absolute;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    filter: blur(12.5px);
    opacity: 0.25;
}

.content-article-title{
    width: 100%;
    height: 13vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

.content-article-title-mini{
    padding-top: 1rem;
    width: 100%;
    height: 13vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

@media (max-width: 768px) {
    .content-article-title-bar{
        width: 80%;
    }

    .content-article-title{
        font-size: 12vw;
    }

    .content-article-main-content-infos {
        width: 100%;
    }

    .content-article-main-content-text{
        font-size: clamp(.7rem,3vw,1.2rem);
    }

    .content-article-main-content-visuals{
        width: 95%;
    }

    .content-article-main-content-visuals-main{
        width: 95%;
    }

    .content-article-main-content-visuals-main video{
        height: 100%;
        width: 100%;
    }

    .content-article-main-content-visuals-icons{
        height: 2.7rem;
        max-height: 60px;
        width: 100%;
        margin-top: 2rem;
    }

    .content-article-main-content-visuals-icons .icons{
        margin-right: 1rem;
        margin-left: 1rem;
        aspect-ratio: 1;
        height: 100%;
        width: auto;
    }

    .content-article-main-content-icon-img{
        width: 50px;
        height: 50px;
    }

    .content-article-main-content-icon-text{
        font-size: 1rem;
    }

    #content-article-box-bars{
        display: none;
    }
}

@media (min-width: 768px){
    .content-article-title-bar{
        width: 30%;
    }

    .content-article-title{
        font-size: 8vw;
    }

    .content-article-main-content-infos {
        width: 40%;
        min-width: 550px;
        max-width: 650px;
    }

    .content-article-main-content-text{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .content-article-main-content-visuals{
        width: 60%;
        min-width: 550px;
        max-width: 950px;
    }

    .content-article-main-content-visuals-main{
        max-width: 950px;
        max-height: 460px;
        margin-bottom: 1rem;
    }

    .content-article-main-content-visuals-main video{
        height: 100%;
        width: 100%;
        max-width: 950px;
        max-height: 460px;
        margin-bottom: 1rem;
    }

    .content-article-main-content-visuals-icons{
        height: 4vw;
        max-height: 60px;
        width: 100%;
    }

    .content-article-main-content-visuals-icons .icons{
        margin-right: 2rem;
        margin-left: 2rem;
        aspect-ratio: 1;
        height: 100%;
        width: auto;
    }

    .content-article-main-content-icon-text{
        font-size: 1.5rem;
    }
}

.content-article-title-bar{
    position: absolute;
    bottom: 0px;
    right: 1px;
    max-width: 447px;
}

#content-article-box-bars{
    position: relative;
    height: 100%;
    width: 100%;
}

#content-article-box-bar-left{
    position: absolute;
    bottom: 25px;
    left: 18%;
    width: 20%;
    max-width: 447px;
}

#content-article-box-bar-right{
    position: absolute;
    bottom: 25px;
    right: 1px;
    width: 60%;
    max-width: 1009px;
    max-height: 33px;
}

.content-article-main-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.content-article-main-content.content-section{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.content-article-main-content-img{
    margin-bottom: 1rem;
    object-fit: contain;
    width: 60vw;
    max-height: 525px;
}

.content-article-main-content-end{
    width: 100%;
    margin-bottom: 4rem;
}

.content-article-main-content-infos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
}

.content-article-main-content-visuals{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-article-main-content-visuals .content-article-main-content-text{
    padding-right: 5rem;
    padding-left: 5rem;
}

.content-article-main-content-text{
    text-align: justify;
    margin-bottom: 1rem;
    color: var(--blue-400);
}

.content-article-main-content-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.content-article-main-content-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content-article-main-content-icon-img{
    filter: invert(52%) sepia(39%) saturate(1456%) hue-rotate(188deg) brightness(94%) contrast(96%);
}

.content-article-main-content-icon-text{
    color: var(--neonblue);
}

.content-article-main-content-text a{
    color: var(--orange-500);
}

.content-article-main-content-visuals-main{
    aspect-ratio: 16/9;
}

.content-article-main-content-visuals-main-mini{
    aspect-ratio: 16/9;
    margin-bottom: 1rem;
    max-width: 600px;
    max-height: 350px;
}

.content-article-main-content-visuals-main-audio{
    margin-bottom: 1rem;
}

.content-article-main-content-visuals-main #content-article-main-content-carousel{
    aspect-ratio: 16/9;
    margin-bottom: 1rem;
    max-width: 820px;
    max-height: 460px;
}

.yt-video{
    border: 2px solid var(--blue-500);
    filter: drop-shadow(0 0 10px black);
    max-width: 820px;
    max-height: 460px;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    border-radius: 25px;
}

.content-article-main-content-visuals-main iframe{
    max-width: 820px;
    max-height: 460px;
    aspect-ratio: 16 / 9;
    border: 0;
}

.content-article-main-content-visuals-main img.img-visual{
    border: 2px solid var(--blue-500);
    filter: drop-shadow(0 0 10px black);
    border-radius: 25px;
    overflow: hidden;
    max-width: 820px;
    max-height: 460px;
    aspect-ratio: 16 / 9;
}

.content-article-main-content-visuals-main-mini img.img-visual{
    border: 2px solid var(--blue-500);
    filter: drop-shadow(0 0 10px black);
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.content-article-main-content-visuals-main-mini img.img-visual-vertical{
    border: 2px solid var(--blue-500);
    filter: drop-shadow(0 0 10px black);
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
}

.content-article-main-content-visuals-main img.sqr{
    border: 2px solid var(--blue-500);
    filter: drop-shadow(0 0 10px black);
    border-radius: 25px;
    overflow: hidden;
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: 1;
}

.content-article-main-content-visuals-main video{
    overflow: hidden;
    filter: drop-shadow(0 0 10px black);
    border: 2px solid var(--blue-500);
    border-radius: 25px;
}

.content-article-main-content-visuals-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
}

.content-article-main-content-visuals-icons .icons{
}

.content-article-main-content-gallery{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#content-article-main-content-carousel{
    aspect-ratio: 16/9;
    width: 65vw;
    margin-bottom: 5rem;
    filter: drop-shadow(0 0 10px black);
}

#img-preview{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--blue-900-90);
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-preview img{
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 25px;
    object-fit: cover;
    border: 2px solid var(--neonblue-50);
    filter: drop-shadow(0 0 10px var(--neonblue-50));
}

#img-preview-vertical{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--blue-900-90);
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-preview-vertical img{
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 25px;
    object-fit: cover;
    border: 2px solid var(--neonblue-50);
    filter: drop-shadow(0 0 10px var(--neonblue-50));
}

.content-article-box-carousel{
    width: 100%;
    height: auto;
    position: relative;
}

.content-article-box-carousel-section{
    width: 100%;
    height: auto;
    z-index: 5;
}

.content-article-box-carousel-buttons{
    position: absolute;
    top: 10px;
    left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.content-article-box-carousel-arrow{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.content-article-box-carousel-arrow:hover{
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--orange-500));
    transition: all 0.5s ease-in-out;
}

.content-article-box-carousel-arrow.back{

}

.content-article-box-carousel-arrow.next {
    transform: rotate(180deg);
}

.content-article-box-carousel-slide{
    background-color: transparent;
    border: 2px dashed var(--orange-600);
    opacity: 0.5;
    transform: rotate(45deg);
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.content-article-box-carousel-slide:hover {
    filter: drop-shadow(0 0 10px var(--orange-500));
    background-color: var(--orange-500);
    border: 2px solid var(--orange-500-50);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.content-article-box-carousel-slide.active-carousel-slide{
    filter: drop-shadow(0 0 10px var(--orange-500));
    background-color: var(--orange-500);
    border: 2px solid var(--orange-500-50);
    opacity: 1;

    transition: all 0.5s ease-in-out;
}

.content-article-box-carousel-sep{
    width: 60px;
    height: 10px;
    object-fit: none;
}

.content-article-main-content-github{
    align-self: center;
    transition: all 0.5s ease-in-out;
    color: var(--orange-600);
    font-size: 1.5rem;
    opacity: 70%;
}

.content-article-main-content-github:hover{
    opacity: 100%;
    color: var(--orange-500);
    text-shadow: 0 0 5px var(--orange-500);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0 0 10px var(--orange-500));
}

.content-article-main-content-github-button{
    display: flex;
    align-items: center;


    margin-bottom: 1rem;

    width: 350px;
    height: 70px;

    background: linear-gradient(90deg,var(--blue-900) -97.89%,var(--blue-800) 132.95%);

    --aug-border: initial;
    --aug-border-all: 2px;

    --aug-round-tr2: initial;
    --aug-clip-tr1: initial;

    --aug-tr1: 10px;
    --aug-tr-extend1: 20%;
    --aug-tr2: 6px;

    --aug-border-bg: linear-gradient(270deg, var(--orange-500) -2.05%, var(--orange-700) 97.48%);

    --aug-br: 10px;
    --aug-bl: 10px;
    --aug-tl: 10px;
}

.content-article-main-content-github-button object{
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);

    margin-left: 4rem;
    margin-right: 1.5rem;
}

.align-bot{
    object-position: bottom;
}

.align-center{
    object-position: center;
}

.align-top{
    object-position: top;
}

.heightlight-box{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}

.heightlight-box-img{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 5;
    background-image: url("assets/img/icons/rocket_1.gif");
    filter: invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
    opacity: 0.6;
}
.heightlight-box-img-blur{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 5;
    background-image: url("assets/img/icons/rocket_1.gif");
    filter: blur(3px)  invert(88%) sepia(22%) saturate(5324%) hue-rotate(348deg) brightness(94%) contrast(92%);
}

.heightlight-box-circle{
    z-index: 5;
    background-color: var(--blue-700);
    opacity: 0%;
    top: -10px;
    right: -10px;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 40%;
}

hclick{
    pointer-events: all;
    cursor: pointer;
    color: var(--orange-500);
}

.content-article-audio{
    align-self: center;
    justify-self: center;
}

.aug-moving-glow{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px var(--blue-900));
}

#time-line{
    position: fixed;
    right: 10vw;
    height: 60vh;
    width: 1px;
    background: var(--orange-500);
    top: 37vh;
    transition: all 0.5s;
}

#time-line-indicator{
    position: absolute;
    transition: all 0.2s;
    width: 10px;
    height: 1px;
    left: -10px;
    background: var(--orange-500);
}

#time-line-indicator-side{
    position: absolute;
    background: var(--orange-500);
    height: 1px;
    width: 25px;
    left: 20px;
}

#time-line-indicator-text{
    position: absolute;
    left: 15px;
    bottom: 5px;
    width: 200px;
    color: var(--orange-500);
}