#overlay-left-top{
    position: absolute;
    left: 10px;
    top: 10px;
}

#overlay-right-top{
    position: absolute;
    right: 10px;
    top: 10px;
}

#overlay-left-bot{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
zindex
#overlay-menu{
    width: 100%;
    height: 100%;
}